<section id="funfacts-p3">


    <head>
      <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </head>

    <body>
      <div class="wrapper">
        <div class="masterpiece">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Caravaggio_-_David_with_the_Head_of_Goliath_-_Vienna.jpg/1280px-Caravaggio_-_David_with_the_Head_of_Goliath_-_Vienna.jpg" style="width:100%">
        </div>
        <p><br>David with the Head of Goliath<br></p>
        <p1>Caravaggio<br>1607<br><br></p1>
     <div class="label" #label>
      <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
     </div>


     <ng-template #Quiz>
       <app-Quiz>
         <div class="product__Quiz">
     <div class="menu">
         <ui class="mainMenu">
             <li class="item" id="account">
                 <a href="#account" class="btn">
                   <div class="title">
                   <p1>1. Who is he? Why is there a head in his hand?</p1>
                 </div>
                 </a>
                 <div class="subMenu">
                  <a href=""><div class="description">
                    <p>He is the David in the Bible with the Goliath's head of the giant he killed. The Bible says that David resisted the giants and the people he led, not allowing them to harm his countrymen. He defeated their leader, which was equivalent to conquering all the enemies.<br>He was initially just a shepherd. His weapons were only a slingshot and five stones, while the giant wears armour and a bronze helmet and holds a bronze war and a sword. In order to describe David's courage, the painter chose to paint the last scene of this story.
                    </p>
                  </div></a>
                 </div>
             </li>
             <li class="item" id="about">
                 <a href="#about" class="btn">
                   <div class="title">
                   <p1>2. How could David defeat the giant?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                     <p>Although it seemed that Goliath was taller and more robust, this was also the reason for his failure. For shepherds who were good at using slingshots, it was easy to aim at the target. Goliath didn't pay attention to this thin boy at all, but David moved fast and had wisdom. As a result, Goliath's vast and robust body harmed himself because of his poor reaction and made David's weaknesses an advantage.
                     </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="support">
                 <a href="#support" class="btn">
                   <div class="title">
                   <p1>3. Why did Caravaggio painted this picture so dark?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                     <p>The dark background can set off the characters and make the theme more obvious. Caravaggio often used such backdrops, landscapes or other props to focus on several key elements. In this way, the characters in the paintings are easier to be focused on and more dramatic.
                     </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="logout">
                 <a href="#logout" class="btn">
                   <div class="title">
                   <p1>4. Why does Goliath's head seem to roll out of the painting?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                     <p>David held his head and stretched it towards us. The black background contrasted with the bright shape, producing a three-dimensional visual effect. The sense of light in Caravaggio's painting is like a projector. The brilliant part became like a sculpture as if about to run out of it. This technique makes this scene more charming and makes the viewers have a kind of illusion as if they can reach out their hands to touch the characters in the painting.
                     </p>
                   </div></a>
                 </div>
             </li>
         </ui>
     </div>
   </div>
 </app-Quiz>
</ng-template>



    </div>
    </body>


</section>
