<section id="funfacts-p4">


    <head>
      <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </head>

    <body>
      <div class="wrapper">
        <div class="masterpiece">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/El_coloso.jpg/911px-El_coloso.jpg" style="width:100%">
        </div>
        <p style="font-size:1.2vw">The Colossus<br></p>
        <p1 style="font-size:0.9vw">Francisco de Goya<br>1808-1812<br><br></p1>
     <div class="label" #label>
      <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
     </div>


     <ng-template #Quiz>
       <app-Quiz>
         <div class="product__Quiz">
     <div class="menu">
         <ui class="mainMenu">
             <li class="item" id="account">
                 <a href="#account" class="btn">
                   <div class="title">
                   <p1>1. Is the person in the sky a Greek god?</p1>
                 </div>
                 </a>
                 <div class="subMenu">
                  <a href=""><div class="description">
                    <p>No. This painting is called "The Colossus", which means "giant". The Colossus is taller than a mountain and has powerful muscles. But the author did not give him a name and identity source.
                    </p>
                  </div></a>
                 </div>
             </li>
             <li class="item" id="about">
                 <a href="#about" class="btn">
                   <div class="title">
                   <p1>2. Are the people on the ground fleeing for their lives?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                     <p>Although there are many people, the distance is too far, so their movements can not be seen clearly. However, we can see that they are escaping. There are hordes of carriages, people on horseback, and even domestic animals running around. They are out of order and running in different directions.
                     </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="support">
                 <a href="#support" class="btn">
                   <div class="title">
                   <p1>3. Why did not Goya directly draw the scene of the war?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                     <p>The war painted by Goya is a scene we do not often see in paintings. Most painters liked to draw pictures of battles, heroes and victories, but Goya described it from a different perspective. Wars are not caused by ordinary people. Many times they don't even know why conflicts occur, but wars come to them. What they know is almost the same as those of us standing in front of the painting. They can only flee for their lives.
                     </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="logout">
                 <a href="#logout" class="btn">
                   <div class="title">
                   <p1>4. Why did Goya choose to paint fictional creature?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                     <p>The giant symbolizes war or its danger that makes people afraid. On the other hand, we can also think of giants as guarding humans or the horror that humans make people frantic. Therefore, this painting is also called "Panic". Goya uses this giant mystery-like creature to express indescribable thoughts and emotions.
                     </p>
                   </div></a>
                 </div>
             </li>
         </ui>
     </div>
   </div>
 </app-Quiz>
</ng-template>



    </div>
    </body>


</section>
