// .info-popover {
//   word-break: break-word;
//   width: 500px;
//   height: 500px; 
//   /*z-index: 500;*/
//   max-width: 95%;
//   margin-top: 5px;
//   margin-bottom: 5px;
//   background-color: #fff;
// }

  /* ----- Product Section ----- */
.product {
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
  /*display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: white;
  border-radius: 5px;
  width: 1000px;
  height: 500px;
  max-width: 90%;*/
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  background-color: white;
  margin: auto;
  width: 65%;
  height: 400px;
  border: 3px solid burlywood;
  padding: 20px;
  position: relative;
  top: 60px;
}