
<section id="funfacts-p10">


    <head>
      <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </head>

    <body>
      <div class="wrapper">
        <div class="masterpiece">
          <img src="https://upload.wikimedia.org/wikipedia/en/d/dd/The_Persistence_of_Memory.jpg" style="height:100%">
        </div>

        <p style="font-size:2.5vh"><br>The Persistence of Memory</p>
        <p1 style="font-size:2vh">Salvador Dalí<br>1931<br><br></p1>

     <div class="label" #label>
      <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
     </div>

    <ng-template #Quiz>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>1. What is Surrealism?</h1>
          </div>
          <div class="description">
            <p>Poet André Breton French founded Surrealism in 1924 in opposition to the prevailing Enlightenment ideals that governed much of art and literature in the 17th and 18th centuries. Breton and the Surrealists were devoted followers of Austrian psychoanalyst Sigmund Freud, and his psychoanalytic theory of personality gave the group of artists and writers a North Star for creative production. By accessing the unconscious mind—the collection of thoughts, memories, dreams, and urges not dictated by the conscious mind—these artists would engage in a pure form of artmaking that had not been sterilized by social mores or insecurities.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    <ng-template #Quiz2>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>2. How could David defeat the giant?</h1>
          </div>
          <div class="description">
            <p>Although it seemed that Goliath was taller and more robust, this was also the reason for his failure. For shepherds who were good at using slingshots, it was easy to aim at the target. Goliath didn't pay attention to this thin boy at all, but David moved fast and had wisdom. As a result, Goliath's vast and robust body harmed himself because of his poor reaction and made David's weaknesses an advantage.    </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    <ng-template #Quiz3>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>3. Why did Caravaggio painted this picture so dark?</h1>
          </div>
          <div class="description">
            <p>The dark background can set off the characters and make the theme more obvious. Caravaggio often used such backdrops, landscapes or other props to focus on several key elements. In this way, the characters in the paintings are easier to be focused on and more dramatic.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>


    <ng-template #Quiz4>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>4. Why does Goliath's head seem to roll out of the painting?</h1>
          </div>
          <div class="description">
            <p>David held his head and stretched it towards us. The black background contrasted with the bright shape, producing a three-dimensional visual effect. The sense of light in Caravaggio's painting is like a projector. The brilliant part became like a sculpture as if about to run out of it. This technique makes this scene more charming and makes the viewers have a kind of illusion as if they can reach out their hands to touch the characters in the painting.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    </div>
    </body>



</section>
