<section id="timeline-p2">

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://www.vincentvangogh.org/images/paintings/cafe-terrace-at-night.jpg)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Post <br> Impressionism</p>
      </div>

      <div class="tl-content">
        <h1>1885 - 1905</h1>
        <p>Known for thick applications of paint, distinctive brush strokes, and real-life subject matter.</p>
        <div class="label" #label>
          <app-info-button [appInfoPopup]="info" [label]="label"></app-info-button>
        </div>
        <ng-template #info>
          <app-info>
            <div class="product__photo">
              <div class="photo-container">
                <img src="https://ibb.co/YjFVLG8" alt="fipmYqX" border="0">
              </div>
            </div>
            <div class="product__info">
              <div class="title">
                <h1>Post Impressionism</h1>
                <span>1885 - 1905
                </span>
              </div>
              <div class="description">
                <p>Post-Impressionism is an artistic practice appeared in 1880s which is affected by and intended to overcome a movement of Impressionism art. Though Post-Impressionism art can include many different style of art, their works have in common that they are not intend to express just visual impressions like impressionism works, but attempt to incorporate the artist's emotions or world view into the work.</p>
                <h3>Artists & Works</h3>
                <ul>
                  <li>Vincent van Gogh (1853-1890)</li>
                  <li>Café Terrace at Night (1888)</li>
                  <li>Wheatfield with Crows (1890)</li>
                  <li>Paul Cézanne (1839-1906)</li>
                  <li>Mont Sainte-Victoire (1904–1906)</li>
                  <li>The Bathers (1906)</li>
                  <li>Paul Gauguin (1848-1903)</li>
                  <li>Where Do We Come From? What Are We? Where Are We Going? (1898)</li>
                </ul>
              </div>
            </div>
          </app-info>
        </ng-template>
      </div>
    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://www.henrimatisse.org/images/gallery/green-stripe.jpg)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Fauvism</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">1900 - 1907</h1>
        <p>Known for the use of intense color and pattern to depict simple subjects.</p>
        <div class="label" #label>
          <app-info-button [appInfoPopup]="info" [label]="label"></app-info-button>
        </div>
        <ng-template #info>
          <app-info>
            <div class="product__photo">
              <div class="photo-container">
                <img src="https://ibb.co/fvW3QRN" alt="fipmYqX" border="0">
              </div>
            </div>
            <div class="product__info">
              <div class="title">
                <h1>Fauvism</h1>
                <span>1900 - 1907</span>
              </div>
              <div class="description">
                <p>Fauvism is the style of les Fauves (French for "the wild beasts"), a group of early 20th-century modern artists whose works emphasized painterly qualities and strong color over the representational or realistic values retained by Impressionism. While Fauvism as a style began around 1904 and continued beyond 1910, the movement as such lasted only a few years, 1905–1908, and had three exhibitions. The leaders of the movement were André Derain and Henri Matisse.</p>
                <h3>Artists & Works</h3>
                <ul>
                  <li>Henri Matisse (1869-1954)</li>
                  <li>La danse (1909)</li>
                  <li>Portrait of Madame Matisse (1905)</li>
                  <li>André Derain (1880-1954)</li>
                  <li>Charing Cross Bridge (1906)</li>
                  <li>LA JETÉE À L’ESTAQUE (1906)</li>
                </ul>
              </div>
            </div>
          </app-info>
        </ng-template>
      </div>
    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://www.liveauctioneers.com/news/wp-content/uploads/2021/02/Skrik_Nasjonalgalleriet_Oslo_10_2018_3930-1.jpg)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Expressionism</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">1905 - 1933</h1>
        <p>Known for artwork that expresses feelings and emotions through exaggerated brushstrokes and color.</p>
        <div class="label" #label>
          <app-info-button [appInfoPopup]="info" [label]="label"></app-info-button>
        </div>
        <ng-template #info>
          <app-info>
            <div class="product__photo">
              <div class="photo-container">
                <img src="https://ibb.co/Y0KCPR8" alt="fipmYqX" border="0">
              </div>
            </div>
            <div class="product__info">
              <div class="title">
                <h1>Expressionism</h1>
                <span>1905 - 1933</span>
              </div>
              <div class="description">
                <p>Expressionism is an artistic movement which became popular in early 20 century's Germany and Austria. It does not refer to a particular style, but rather to a group of painters who avoided objective expression and focused instead on "expressing" their own invisible inner feelings, subjective awareness or perceived worldview. Its orientation towards independence from objective shapes colours influenced later Surrealism and contemporary art.</p>
                <h3>Artists & Works</h3>
                <ul>
                  <li>Edvard Munch (1863-1944)</li>
                  <li>The Scream (1893)</li>
                  <li>Wassily Kandinsky (1866-1944)</li>
                  <li>Composition_VI (1913)</li>
                </ul>
              </div>
            </div>
          </app-info>
        </ng-template>
      </div>
    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/Les_Demoiselles_d%27Avignon.jpg/350px-Les_Demoiselles_d%27Avignon.jpg)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Cubism</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">1907 - 1922</h1>
        <p>Known for the abandonment of perspective and for breaking subject matter into fragmented, geometric shapes.</p>
        <div class="label" #label>
          <app-info-button [appInfoPopup]="info" [label]="label"></app-info-button>
        </div>
        <ng-template #info>
          <app-info>
            <div class="product__photo">
              <div class="photo-container">
                <img src="https://ibb.co/9WhS0jP" alt="fipmYqX" border="0">
              </div>
            </div>
            <div class="product__info">
              <div class="title">
                <h1>Cubism</h1>
                <span>1907 - 1922</span>
              </div>
              <div class="description">
                <p>Given the movement of Fauvism and Post-Impressionism (especially works of Cézanne), Cubism is an art style invented by Pablo Picasso and Georges Braque in early 20 century which is characterized as deconstruction of the common sense of art of representing the space since the Renaissance, decomposing the various surfaces of the object and reconstructing them on the canvas. It was called so because the works looked like a stack of cubes.</p>
                <h3>Artists & Works</h3>
                <ul>
                  <li>Pablo Picasso (1881-1973)</li>
                  <li>Les Demoiselles d'Avignon (1907)</li>
                  <li>Guernica (1937)</li>
                </ul>
              </div>
            </div>
          </app-info>
        </ng-template>
      </div>
    </div>
  </section>
