<section id="funfacts-p2">


    <head>
      <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </head>

    <body>
      <div class="wrapper">
        <div class="masterpiece">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Sandro_Botticelli_-_La_nascita_di_Venere_-_Google_Art_Project_-_edited.jpg/1280px-Sandro_Botticelli_-_La_nascita_di_Venere_-_Google_Art_Project_-_edited.jpg" style="width:100%">
        </div>
        <p style="font-size:1.2vw"><br>The Birth of Venus<br></p>
        <p1 style="font-size:0.9vw">Sandro Botticelli<br>1484-1486<br><br></p1>
     <div class="label" #label>
      <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
     </div>


     <ng-template #Quiz>
       <app-Quiz>
         <div class="product__Quiz">
     <div class="menu">
         <ui class="mainMenu">
             <li class="item" id="account">
                 <a href="#account" class="btn">
                   <div class="title">
                   <p1>1. Why does not Venus wear clothes?</p1>
                 </div>
                 </a>
                 <div class="subMenu">
                  <a href=""><div class="description">
                  <p>Because she was just born, the goddess Trois Graces next to her was about to help her dress. This is not the moment when ordinary people are born, but the birth of a goddess. According to legend, Venus was already an adult when she was born.
                  </p>
                  </div></a>
                 </div>
             </li>
             <li class="item" id="about">
                 <a href="#about" class="btn">
                   <div class="title">
                   <p1>2. What kind of flower is the flower in the painting?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                   <p>Next to Venus are roses. Because roses are symbols of love and beauty, they are usually painted around Venus. When Venus steps on the ground, roses will grow wherever she walks. Also, because it was spring, Botticelli painted cornflowers. The patterns on the goddess Trois Graces's robe is the evergreen crape myrte flowers, which symbolize eternal life.
                  </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="support">
                 <a href="#support" class="btn">
                   <div class="title">
                   <p1>3. Why are there almost no shadows in the painting?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                   <p>In order to express Venus's beauty, which is beyond ordinary people, bright and soft colours were used throughout the painting. Her complexion reminds people of pearls, and the whole person is radiant. This painting allows people to see that her radiance has changed the world. Although the right side of the painting is darker, it looks like Venus has driven the darkness away.
                   </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="logout">
                 <a href="#logout" class="btn">
                   <div class="title">
                   <p1>4. Why do the people in the painting seem to be "attached" to the background?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a href=""><div class="description">
                   <p>This is because Botticelli deliberately emphasized the characters' outline, which makes people feel as if they can be cut along the contour. The body drawn with meticulous lines is like a prison that seals the soul. This concept comes from the Medici family's close Neo-Platonists, which were very popular in Florence in the fifteenth century. Botticelli often stayed with these philosophers and was deeply influenced by their thoughts.
                   </p>
                   </div></a>
                 </div>
             </li>
         </ui>
     </div>
   </div>
 </app-Quiz>
</ng-template>



    </div>
    </body>


</section>
