
<section id="funfacts-p11">


    <head>
      <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </head>

    <body>
      <div class="wrapper">
        <div class="masterpiece">
          <img src="https://user-images.githubusercontent.com/74121985/115473118-0a040700-a233-11eb-8d8f-dcdb3d0e9ea9.jpg" style="height:100%">
        </div>

        <p style="font-size:2.5vh">UNTITLED (NEW YORK CITY)</p>
        <p1 style="font-size:2vh">Cy Twombly<br>1968<br><br></p1>

     <div class="label" #label>
      <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
     </div>

    <ng-template #Quiz>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>1. Why this painting such inexplicable?</h1>
          </div>
          <div class="description">
            <p>
              To articulate the inexplicable: this is what Cy Twombly set out to do, in paintings that consecrate the sublime visual poetry of that which cannot be written. With the obsessively systematic repetition of his Blackboard paintings, Twombly lyrically expresses both a ceaseless effort and persistent inability to depict an emotion that is quite simply beyond representation. Created in an outburst of significant invention, Twombly’s epic Untitled (New York City) from 1968 sits at the very head of the artist’s celebrated Blackboards. Unrivaled for its scale and ambition, the artist painted an extremely limited number of other seminal Blackboard canvases that share the present work’s fully formed loops and vast format.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    <ng-template #Quiz2>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>2. How could David defeat the giant?</h1>
          </div>
          <div class="description">
            <p>Although it seemed that Goliath was taller and more robust, this was also the reason for his failure. For shepherds who were good at using slingshots, it was easy to aim at the target. Goliath didn't pay attention to this thin boy at all, but David moved fast and had wisdom. As a result, Goliath's vast and robust body harmed himself because of his poor reaction and made David's weaknesses an advantage.    </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    <ng-template #Quiz3>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>3. Why did Caravaggio painted this picture so dark?</h1>
          </div>
          <div class="description">
            <p>The dark background can set off the characters and make the theme more obvious. Caravaggio often used such backdrops, landscapes or other props to focus on several key elements. In this way, the characters in the paintings are easier to be focused on and more dramatic.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>


    <ng-template #Quiz4>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>4. Why does Goliath's head seem to roll out of the painting?</h1>
          </div>
          <div class="description">
            <p>David held his head and stretched it towards us. The black background contrasted with the bright shape, producing a three-dimensional visual effect. The sense of light in Caravaggio's painting is like a projector. The brilliant part became like a sculpture as if about to run out of it. This technique makes this scene more charming and makes the viewers have a kind of illusion as if they can reach out their hands to touch the characters in the painting.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    </div>
    </body>



</section>
