.btn {
  border: 1px solid black;
  background-color: #fdf1ec;
  color: black;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  width: 20vw;
}

.default {
  border-color: #A9A9A9;
  color: black;
}

.default:hover {
  background: #A9A9A9;
}
