<button class="btn default" (click)="toggleInfoByClick()" style="font-size:1.7vh;text-align:left">1. Who is he? Why is there a head in his hand? </button>
<br><button class="btn default" (click)="toggleInfoByClick()" style="font-size:1.7vh;text-align:left">2. What kind of flower is the flower in the painting?</button>
<br><button class="btn default" (click)="toggleInfoByClick()" style="font-size:1.7vh;text-align:left">3. Why did Caravaggio painted this picture so dark? </button>
<br><button class="btn default" (click)="toggleInfoByClick()" style="font-size:1.7vh;text-align:left">4. Why does Goliath's head seem to roll out of the painting?</button>
