
<section id="funfacts-p6">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <div class="masterpiece">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Vincent_van_Gogh_-_De_slaapkamer_-_Google_Art_Project.jpg/756px-Vincent_van_Gogh_-_De_slaapkamer_-_Google_Art_Project.jpg" style="height:100%">
      </div>

      <p style="font-size:2.5vh"><br>Bedroom in Arles</p>
      <p1 style="font-size:2vh">Vincent van Gogh<br>1888<br><br></p1>

   <div class="label" #label>
    <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
   </div>

  <ng-template #Quiz>
    <app-Quiz>
      <div class="product__Quiz">
        <div class="title">
          <h1>1. Whose room is it?</h1>
        </div>
        <div class="description">
          <p>It is Van Gogh's room. He lived in a small town in Provence in the south of France when he painted this painting. Van Gogh drew this neatly packed room, which shows his determination to tidy up everything around him. Before painting this picture, he stayed in a hotel, having no fixed residence.
          </p>
        </div>
      </div>
    </app-Quiz>
  </ng-template>

  <ng-template #Quiz2>
    <app-Quiz>
      <div class="product__Quiz">
        <div class="title">
          <h1>2. How could David defeat the giant?</h1>
        </div>
        <div class="description">
          <p>Although it seemed that Goliath was taller and more robust, this was also the reason for his failure. For shepherds who were good at using slingshots, it was easy to aim at the target. Goliath didn't pay attention to this thin boy at all, but David moved fast and had wisdom. As a result, Goliath's vast and robust body harmed himself because of his poor reaction and made David's weaknesses an advantage.    </p>
        </div>
      </div>
    </app-Quiz>
  </ng-template>

  <ng-template #Quiz3>
    <app-Quiz>
      <div class="product__Quiz">
        <div class="title">
          <h1>3. Why did Caravaggio painted this picture so dark?</h1>
        </div>
        <div class="description">
          <p>The dark background can set off the characters and make the theme more obvious. Caravaggio often used such backdrops, landscapes or other props to focus on several key elements. In this way, the characters in the paintings are easier to be focused on and more dramatic.
          </p>
        </div>
      </div>
    </app-Quiz>
  </ng-template>


  <ng-template #Quiz4>
    <app-Quiz>
      <div class="product__Quiz">
        <div class="title">
          <h1>4. Why does Goliath's head seem to roll out of the painting?</h1>
        </div>
        <div class="description">
          <p>David held his head and stretched it towards us. The black background contrasted with the bright shape, producing a three-dimensional visual effect. The sense of light in Caravaggio's painting is like a projector. The brilliant part became like a sculpture as if about to run out of it. This technique makes this scene more charming and makes the viewers have a kind of illusion as if they can reach out their hands to touch the characters in the painting.
          </p>
        </div>
      </div>
    </app-Quiz>
  </ng-template>

  </div>
  </body>




</section>
