<section id="funfacts-p6">


    <head>
      <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </head>

    <body>
      <div class="wrapper">
        <div class="masterpiece">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Vincent_van_Gogh_-_De_slaapkamer_-_Google_Art_Project.jpg/1280px-Vincent_van_Gogh_-_De_slaapkamer_-_Google_Art_Project.jpg" style="width:100%">
        </div>
        <p><br>Bedroom in Arles<br></p>
        <p1>Vincent van Gogh<br>1888<br><br></p1>
     <div class="label" #label>
      <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
     </div>


     <ng-template #Quiz>
       <app-Quiz>
         <div class="product__Quiz">
     <div class="menu">
         <ui class="mainMenu">
             <li class="item" id="quiz1">
                 <a href="#quiz1" class="btn">
                   <div class="title">
                   <p1>1. Whose room is it?</p1>
                 </div>
                 </a>
                 <div class="subMenu">
                  <a><div class="description">
                    <p>It is Van Gogh's room. He lived in a small town in Provence in the south of France when he painted this painting. Van Gogh drew this neatly packed room, which shows his determination to tidy up everything around him. Before painting this picture, he stayed in a hotel, having no fixed residence.
                    </p>
                  </div></a>
                 </div>
             </li>
             <li class="item" id="quiz2">
                 <a href="#quiz2" class="btn">
                   <div class="title">
                   <p1>2. Are all his paintings on the wall?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a><div class="description">
                     <p>Correct. Van Gogh was always painting, and his favourite thing to do is painting. Because he couldn't live in a room without painting, he hung his images on the wall as decoration. There are two portraits of his friends on the right wall, the next two are sketches, and the inside walls are decorated with landscape paintings. These show the various styles of Van Gogh.
                     </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="quiz3">
                 <a href="#quiz3" class="btn">
                   <div class="title">
                   <p1>3. Is the wall a bit crooked?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a><div class="description">
                     <p>Yes, the walls are indeed not straight. This is because the bedroom is in the corner of the house and protrudes slightly. Another work, "The Yellow House", was painted by Van Gogh from the outside of the house, which can tell how much it protrudes.
                     </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="quiz4">
                 <a href="#quiz4" class="btn">
                   <div class="title">
                   <p1>4. Why did not he use many colours?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a><div class="description">
                     <p>Van Gogh wanted to paint as vibrant and impressive paintings as possible, so he used a lot of contrasting colours. Such as orange, blue, green and red, and it felt like all the energy was concentrated in the painting. He ignored the shadows that would reduce the strength of the picture, and the colour of the frame also plays a role. In order to balance with the vitality in the painting, Van Gogh often used pure white frames.
                     </p>
                   </div></a>
                 </div>
             </li>
         </ui>
     </div>
   </div>
 </app-Quiz>
</ng-template>



    </div>
    </body>


</section>
