<ul id="menu">
    <input type='checkbox' id='toggle' style='display:none;'/>
    <label class='toggle-btn toggle-btn__cross' for='toggle'>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
    <nav>
      <ul>
        <label class='select' for='toggle'>
          <li><a href="#welcome">Welcome</a></li>
          <li><a href="#timeline">Timeline</a></li>
          <li><a href="#funfacts">Fun facts</a></li>
          <li><a href="#artdetective">Art Detective</a></li>
          <li><a href="#">About</a></li>
        </label>
      </ul>
    </nav>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
  <div class="section">
    <app-frontpage></app-frontpage>
  </div>
	<div class="section">
		<div class="slide"><app-timeline-p1></app-timeline-p1></div>
		<div class="slide"><app-timeline-p2></app-timeline-p2></div>
	</div>
	<div class="section">
		<div class="slide"><app-funfacts></app-funfacts></div>
		<div class="slide"><app-funfacts-p1></app-funfacts-p1></div>
		<div class="slide"><app-funfacts-p2></app-funfacts-p2></div>
		<div class="slide"><app-funfacts-p3></app-funfacts-p3></div>
		<div class="slide"><app-funfacts-p4></app-funfacts-p4></div>
		<div class="slide"><app-funfacts-p5></app-funfacts-p5></div>
		<div class="slide"><app-funfacts-p6></app-funfacts-p6></div>
		<div class="slide"><app-funfacts-p7></app-funfacts-p7></div>
		<div class="slide"><app-funfacts-p8></app-funfacts-p8></div>
		<div class="slide"><app-funfacts-p9></app-funfacts-p9></div>
		<div class="slide"><app-funfacts-p10></app-funfacts-p10></div>
		<div class="slide"><app-funfacts-p11></app-funfacts-p11></div>
	</div>
	<div class="section">
    <div class="slide"><app-artDetective-p1></app-artDetective-p1></div>
    <div class="slide"><app-artDetective-p2></app-artDetective-p2></div>
	</div>
</div>
