<ul id="menu">
	<li data-menuanchor="welcome"><a href="#welcome">Welcome</a></li>
	<li data-menuanchor="timeline"><a href="#timeline">Timeline</a></li>
	<li data-menuanchor="funfacts"><a href="#funfacts">Fun Facts</a></li>
	<li data-menuanchor="artdetective"><a href="#artdetective">Art Detective</a></li>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
	<div class="section">
		<h1>Welcome</h1>
	</div>
	<div class="section">
		<div class="slide"><app-timeline-p1></app-timeline-p1></div>
		<div class="slide"><app-timeline-p2></app-timeline-p2></div>
		<div class="slide"><app-timeline-p3></app-timeline-p3></div>
	</div>
	<div class="section">
		<div class="slide"><app-funfacts-p1></app-funfacts-p1></div>
	</div>
	<div class="section">
		<h1>Art Detective</h1>
	</div>
</div>