<section id="timeline-p3">

    <div class="tl-item">
  
      <div class="tl-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/en/2/2b/The_Elephant_Celebes.jpg)"></div>
  
      <div class="tl-year">
        <p class="f2 heading--sanSerif">Dadaism and <br> Surrealism</p>
      </div>
  
      <div class="tl-content">
        <h1>1909 - 1930</h1>
        <p>Known for the depiction of advanced machinery and technology of the time.</p>
      </div>
  
    </div>
  
    <div class="tl-item">
  
      <div class="tl-bg" style="background-image: url(https://collectionapi.metmuseum.org/api/collection/v1/iiif/486735/1004879/restricted)"></div>
  
      <div class="tl-year">
        <p class="f2 heading--sanSerif">Abstract <br> Expressionism</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">1940s - 1950s</h1>
        <p>Known for experimental paintings marked in common by freedom of technique, found in action painting, color field painting, and other non-objective work.</p>
      </div>
  
    </div>
  </section>