<section id="timeline-p3">

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/en/2/2b/The_Elephant_Celebes.jpg)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Dadaism and <br> Surrealism</p>
      </div>

      <div class="tl-content">
        <h1>1909 - 1930</h1>
        <p>Known for the depiction of advanced machinery and technology of the time.</p>
        <div class="label" #label>
          <app-info-button [appInfoPopup]="info" [label]="label"></app-info-button>
        </div>
        <ng-template #info>
          <app-info>
            <div class="product__photo">
              <div class="photo-container">
                <img src="https://ibb.co/8Mf0t1H" alt="fipmYqX" border="0">
              </div>
            </div>
            <div class="product__info">
              <div class="title">
                <h1>Dadaism and Surrealism</h1>
                <span>1909 - 1930</span>
              </div>
              <div class="description">
                <p>Dada, a movement without governing principles, appeared around 1915 as a revolt against the civilization that had engulfed the world in war. The Dadaists sought to embody the absurd in their work on the basis that absurd art reﬂects an absurd society. Dada was short-lived though, and during the 1920s, its ideas were absorbed into Surrealism.
                   Surrealism concentrated less on random absurdity than Dada, and more on the fertility of the unconscious mind and its ability to forge a superior, or "sur", reality. In particular, the work of the Surrealists directly inﬂuenced the birth of Abstract Expressionism.
                   While Dada and Surrealism took absurdity to an extreme degree, artists have always experimented with reality to create work that is rich in imagination and fantasy.</p>
                <h3>Artists & Works</h3>
                <ul>
                  <li>Max Ernst (1891-1976)</li>
                  <li>Celebes (1921)</li>
                  <li>René Magritte (1898-1967)</li>
                  <li>The Human Condition (1933)</li>
                  <li>Salvador Dalí (1904-1989)</li>
                  <li>The Persistence of Memory (1931)</li>
                </ul>
              </div>
            </div>
          </app-info>
        </ng-template>
      </div>
    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://ibb.co/YZZVHQ5)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Abstract <br> Expressionism</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">1940s - 1950s</h1>
        <p>Known for experimental paintings marked in common by freedom of technique, found in action painting, color field painting, and other non-objective work.</p>
        <div class="label" #label>
          <app-info-button [appInfoPopup]="info" [label]="label"></app-info-button>
        </div>
        <ng-template #info>
          <app-info>
            <div class="product__photo">
              <div class="photo-container">
                <img src="https://ibb.co/YZZVHQ5" alt="fipmYqX" border="0">
              </div>
            </div>
            <div class="product__info">
              <div class="title">
                <h1>Abstract Expressionism</h1>
                <span>1940s - 1950s</span>
              </div>
              <div class="description">
                <p>Abstract expressionism is a post–World War II art movement in American painting, developed in New York in the 1940s. With surrealisma as its important predecessor, it lays emphasis on spontaneous, automatic, or subconscious creation. Additionally, it has an image of being rebellious, anarchic, highly idiosyncratic and, some feel, nihilistic.</p>
                <h3>Artists & Works</h3>
                <ul>
                  <li>Barnett Newman (1905–1970)</li>
                  <li>The Station of the Cross - Third Station (1960)</li>
                  <li>Richard Pousette-Dart (1916–1992)</li>
                  <li>Symphony No. 1, The Transcendental (1942)</li>
                </ul>
              </div>
            </div>
          </app-info>
        </ng-template>
      </div>
    </div>
  </section>
