<body>
  <section class="cards-wrapper">

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play1" [periodId]="1"></app-play-button>
      <ng-template #play1>
        <app-play [paintingNumber] = 1>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play2" [periodId]="2"></app-play-button>
      <ng-template #play2>
        <app-play [paintingNumber] = 2>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play3" [periodId]="3"></app-play-button>
      <ng-template #play3>
        <app-play [paintingNumber] = 3>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play4" [periodId]="4"></app-play-button>
      <ng-template #play4>
        <app-play [paintingNumber] = 4>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play5" [periodId]="5"></app-play-button>
      <ng-template #play5>
        <app-play [paintingNumber] = 5>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play6" [periodId]="6"></app-play-button>
      <ng-template #play6>
        <app-play [paintingNumber] = 6>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play7" [periodId]="7"></app-play-button>
      <ng-template #play7>
        <app-play [paintingNumber] = 7>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play8" [periodId]="8"></app-play-button>
      <ng-template #play8>
        <app-play [paintingNumber] = 8>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play9" [periodId]="9"></app-play-button>
      <ng-template #play9>
        <app-play [paintingNumber] = 9>
        </app-play>
      </ng-template>
    </div>

    <div class="card-grid-space">
      <app-play-button [appPlayPopup]="play10" [periodId]="10"></app-play-button>
      <ng-template #play10>
        <app-play [paintingNumber] = 10>
        </app-play>
      </ng-template>
    </div>

  </section>
</body>

