<article>
  <aside>
    <img alt='' src='https://github.com/yujenyu/Group11_Project/raw/master/game_material/Image500KB/Girl_with_a_Mandolin.jpg'>
  </aside>
  <section>
    <h1>Art Detective</h1>

    <div class='teaser'>

      <figure>
        <img alt='' src='https://github.com/yujenyu/Group11_Project/raw/master/game_material/Image500KB/The_school_of_athens.jpg'>
        <figcaption>
          <h3>Raphael</h3>
        </figcaption>
      </figure>

      <figure>
        <img alt='' src='https://github.com/yujenyu/Group11_Project/raw/master/game_material/Image500KB/Liberty_leading_the_people.jpg'>
        <figcaption>
          <h3>Eugène Delacroix</h3>
        </figcaption>
      </figure>

      <figure>
        <img alt='' src='https://github.com/yujenyu/Group11_Project/raw/master/game_material/Image500KB/Olympia.jpg'>
        <figcaption>
          <h3>Olympia</h3>
        </figcaption>
      </figure>

      <figure>
        <img alt='' src='https://github.com/yujenyu/Group11_Project/raw/master/game_material/Image500KB/Where_Do_We_Come_From.jpg'>
        <figcaption>
          <h3>Paul Gauguin</h3>
        </figcaption>
      </figure>

      <figure>
        <img alt='' src='https://github.com/yujenyu/Group11_Project/raw/master/game_material/Image500KB/still-life-with-aubergines.jpg'>
        <figcaption>
          <h3>Henri Matisse</h3>
        </figcaption>
      </figure>

      <figure>
        <img alt='' src='https://github.com/yujenyu/Group11_Project/raw/master/game_material/Image500KB/The_Scream.jpg'>
        <figcaption>
          <h3>The Scream</h3>
        </figcaption>
      </figure>

      <figure>
        <img alt='' src='https://github.com/yujenyu/Group11_Project/raw/master/game_material/Image500KB/The_calling_of_st_matthew.jpg'>
        <figcaption>
          <h3>Caravaggio</h3>
        </figcaption>
      </figure>

    </div>

    <p>
      <b>Welcome to Art Detective!</b>
    </p>

    <p>Are you a talented detective?<br>
      The left is the original painting, and the right is the fake.<br>
      Compare these two photos of artwork, could you find the differences in the fake one?
    </p>
    <p>
      Challenge yourself how many differences you can find！
    </p>

    <!-- <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
      <button (click)="fullpage_api.moveSlideRight()">Start</button>
    </div> -->

  </section>
</article>
