<section id="artDetective-p1">

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(https://github.com/yujenyu/Group11_Project/raw/master/game_material/original_image/school_of_athens.jpg)"></div>
    <div class="tl-year">
      <p class="f2 heading--sanSerif">Renaissance</p>
    </div>

    <div class="tl-content">
      <h1>The School of Athens</h1>
      <p>Raphael, 1509–1511</p>
      <div class="label" #label>
        <app-play-button [appPlayPopup]="play1" [label]="label"></app-play-button>
      </div>
      <ng-template #play1>
        <app-play [paintingNumber] = 1>
        </app-play>
      </ng-template>
    </div>
  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(https://github.com/yujenyu/Group11_Project/raw/master/game_material/original_image/the%20calling%20of%20st%20matthew.jpg)"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Baroque</p>
    </div>

    <div class="tl-content">
      <h1>The Calling of St Matthew</h1>
      <p>Raphael, 1509–1511</p>
      <div class="label" #label>
        <app-play-button [appPlayPopup]="play2" [label]="label"></app-play-button>
      </div>
      <ng-template #play2>
        <app-play [paintingNumber] = 2>

        </app-play>
      </ng-template>
    </div>
  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(https://github.com/yujenyu/Group11_Project/raw/master/game_material/original_image/liberty_leading_the_people.jpg)"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Romanticism</p>
    </div>

    <div class="tl-content">
      <h1>Liberty Leading the People</h1>
      <p>Raphael, 1509–1511</p>
      <div class="label" #label>
        <app-play-button [appPlayPopup]="play3" [label]="label"></app-play-button>
      </div>
      <ng-template #play3>
        <app-play [paintingNumber] = 3>

        </app-play>
      </ng-template>
    </div>
  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(https://github.com/yujenyu/Group11_Project/raw/master/game_material/original_image/school_of_athens.jpg)"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Impressionism</p>
    </div>

    <div class="tl-content">
      <h1>The School of Athens</h1>
      <p>Raphael, 1509–1511</p>
      <div class="label" #label>
        <app-play-button [appPlayPopup]="play4" [label]="label"></app-play-button>
      </div>
      <ng-template #play4>
        <app-play [paintingNumber] = 4>

        </app-play>
      </ng-template>
    </div>
  </div>

  <div class="tl-item">

    <div class="tl-bg" style="background-image: url(https://github.com/yujenyu/Group11_Project/raw/master/game_material/original_image/D\'ou_venons-nous.jpg)"></div>

    <div class="tl-year">
      <p class="f2 heading--sanSerif">Post- <br> Impressionism</p>
    </div>

    <div class="tl-content">
      <h1>Where Do We Come From? What Are We? Where Are We Going?</h1>
      <p>Raphael, 1509–1511</p>
      <div class="label" #label>
        <app-play-button [appPlayPopup]="play5" [label]="label"></app-play-button>
      </div>
      <ng-template #play5>
        <app-play [paintingNumber] = 5>

        </app-play>
      </ng-template>
    </div>
  </div>

</section>
