<article>
  <aside>
    <img alt='' src='https://i.ibb.co/mzKpzWn/2021-04-26-212605.jpg'>
  </aside>
  <section>
    <h1>Fun Facts</h1>
    <div class='teaser'>
      <figure>
        <img alt='' src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Sandro_Botticelli_083.jpg/800px-Sandro_Botticelli_083.jpg'>
        <figcaption>
          <h3>Sandro Botticelli</h3>
        </figcaption>
      </figure>
      <figure>
        <img alt='' src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Sandro_Botticelli_-_La_nascita_di_Venere_-_Google_Art_Project_-_edited.jpg/1280px-Sandro_Botticelli_-_La_nascita_di_Venere_-_Google_Art_Project_-_edited.jpg'>
        <figcaption>
          <h3>The Birth of Venus</h3>
        </figcaption>
      </figure>
      <figure>
        <img alt='' src='https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project.jpg/800px-Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project.jpg'>
        <figcaption>
          <h3>Vincent van Gogh</h3>
        </figcaption>
      </figure>
      <figure>
        <img alt='' src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Vincent_van_Gogh_-_De_slaapkamer_-_Google_Art_Project.jpg/1024px-Vincent_van_Gogh_-_De_slaapkamer_-_Google_Art_Project.jpg'>
        <figcaption>
          <h3>Bedroom in Arles</h3>
        </figcaption>
      </figure>
      <figure>
        <img alt='' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMdq5Oxjb4kTf4Sn3TumQKKzhykTo-1yhu92lpQWq7_-yzqygCxmxmQdcJj7Bb_6SUHYw&usqp=CAU'>
        <figcaption>
          <h3>Henri Matisse</h3>
        </figcaption>
      </figure>
      <figure>
        <img alt='' src='https://upload.wikimedia.org/wikipedia/en/a/a7/Matissedance.jpg'>
        <figcaption>
          <h3>La Danse</h3>
        </figcaption>
      </figure>
      <figure>
        <img alt='' src='https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Edvard_Munch_-_Self-Portrait_%281895%29_G0192-59_-_Google_Art_Project.jpg/800px-Edvard_Munch_-_Self-Portrait_%281895%29_G0192-59_-_Google_Art_Project.jpg'>
        <figcaption>
          <h3>Edvard Munch</h3>
        </figcaption>
      </figure>
      <figure>
        <img alt='' src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Edvard_Munch%2C_1893%2C_The_Scream%2C_oil%2C_tempera_and_pastel_on_cardboard%2C_91_x_73_cm%2C_National_Gallery_of_Norway.jpg/800px-Edvard_Munch%2C_1893%2C_The_Scream%2C_oil%2C_tempera_and_pastel_on_cardboard%2C_91_x_73_cm%2C_National_Gallery_of_Norway.jpg'>
        <figcaption>
          <h3>The Scream</h3>
        </figcaption>
      </figure>
    </div>
    <p>
      <b>Welcome to the "Fun Facts".</b>
    </p>
    <p>
      Do you know whose bedroom is painted by Vincent van Gogh in his work "Bedroom in Arles"? You can explore your favourite artists and masterpieces by enjoying the little story behind them in this game.
    </p>
    <p>
      Challenge yourself how many stories you can guess right! 
    </p>
    <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
      <button (click)="fullpage_api.moveSlideRight()">Start</button>
    </div>
  </section>
</article>