<section id="funfacts-p5">


    <head>
      <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </head>

    <body>
      <div class="wrapper">
        <div class="masterpiece">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Monet_Luncheon.jpg/1280px-Monet_Luncheon.jpg" style="width:100%">
        </div>
        <p><br>The Luncheon<br></p>
        <p1>Jean Monet<br>1873<br><br></p1>
     <div class="label" #label>
      <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
     </div>


     <ng-template #Quiz>
       <app-Quiz>
         <div class="product__Quiz">
     <div class="menu">
         <ui class="mainMenu">
             <li class="item" id="quiz1">
                 <a href="#quiz1" class="btn">
                   <div class="title">
                   <p1>1. Why the white areas in the painting seem to be particularly eye-catching?</p1>
                 </div>
                 </a>
                 <div class="subMenu">
                  <a><div class="description">
                    <p>Monet used a white tablecloth to concentrate the light, so although the sky was not drawn, the picture was full of sunlight. The female clothing in the background, although not so strong, has the same effect. However, it is surprising that these parts that look white were painted in other colours. They are actually blue, pink and light purple. All the reflected light merges here, making it look like white.
                    </p>
                  </div></a>
                 </div>
             </li>
             <li class="item" id="quiz2">
                 <a href="#quiz2" class="btn">
                   <div class="title">
                   <p1>2. Is this painting really painted in the yard?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a><div class="description">
                     <p>Monet believes that painting should be done on the spot, and if he wants to paint the scenery of the yard, he paints in the yard. Before this, no matter what subject, painters usually painted in the workshop. Although painting in the workshop is very accessible, people can paint day and night, but the light in the workshop is very different from that of the outdoors. In order to paint the original appearance, Monet likes to paint in the place where things were originally located.
                     </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="quiz3">
                 <a href="#quiz3" class="btn">
                   <div class="title">
                   <p1>3. Why did Monet draw things so vaguely?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a><div class="description">
                     <p>Because when we look at things, we only have a general impression. Like seeing a tree, we do not look at each leaf carefully but only look at the approximate shape and colour. Monet just wanted to show this effect. He did not draw a clear outline but faithfully draws what he "sees".
                     </p>
                   </div></a>
                 </div>
             </li>
             <li class="item" id="quiz4">
                 <a href="#quiz4" class="btn">
                   <div class="title">
                   <p1>4. Why is Monet called Impressionist?</p1>
                 </div>
                </a>
                 <div class="subMenu">
                   <a><div class="description">
                     <p>In fact, "impressionism" was just a joke at first. In 1874, Monet exhibited "Impression · Sunrise". Only fuzzy shapes could be seen in the painting, and the term "impressionism" was born from this. At that time, many people thought that Monet's work was terrible, and they felt that this must have been a failed work painted in a hurry - at that time, the word "impression" had a draft meaning. They didn't know that Monet changed the history of painting forever. Future painters pay attention to these subtle, delicate and impermanent "impressions".
                     </p>
                   </div></a>
                 </div>
             </li>
         </ui>
     </div>
   </div>
 </app-Quiz>
</ng-template>



    </div>
    </body>


</section>
