<section id="timeline-p1">

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://www.gannett-cdn.com/-mm-/33270e34a59fb95cfaa9882f98ee37161bbe36d5/c=0-31-1473-1995/local/-/media/2016/05/17/Cincinnati/Cincinnati/635990776725216426-monalisa.jpg?width=660&height=880&fit=crop&format=pjpg&auto=webp)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Renaissance</p>
      </div>

      <div class="tl-content">
        <h1>1400 - 1525</h1>
        <p>Known for a revival of classic Greek and Roman aesthetics, biblical and mythological subject matter, and realistic paintings and sculptures.</p>
        <div class="label" #label>
          <app-info-button [appInfoPopup]="info" [label]="label"></app-info-button>
        </div>
        <ng-template #info>
          <app-info>
            <div class="product__photo">
              <div class="photo-container">
                <img src="https://i.ibb.co/n8vBc7p/fipmYqX.jpg" alt="fipmYqX" border="0">
              </div>
            </div>
            <div class="product__info">
              <div class="title">
                <h1>Renaissance</h1>
                <span>1400 - 1525</span>
              </div>
              <div class="description">
                <p>Renaissance art took as its foundation the art of Classical antiquity, perceived as the noblest of ancient traditions, but transformed that tradition by absorbing recent developments in the art of Northern Europe and by applying contemporary scientific knowledge.</p>
                <h3>Artists & Works</h3>
                <ul>
                  <li>Leonardo da Vinci (1452-1519)</li>
                  <li>The Last Supper (1490s)</li>
                  <li>Mona Lisa (1503–1506)</li>
                  <li>Raphael (1483-1520)</li>
                  <li>The School of Athens (1509-1511)</li>
                </ul>
              </div>
            </div>
          </app-info>
        </ng-template>
      </div>
    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Caravaggio_-_La_Deposizione_di_Cristo.jpg)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Baroque</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">1600 - 1700 </h1>
        <p>Known for similar themes as the Renaissance but depicted with more movement, color, and drama.</p>
      </div>

    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FxscrFu940ykaXFUJw9cdXA%2Flarger.jpg&width=600&quality=80)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Romanticism</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">1770 - 1850</h1>
        <p>Known for its strong emotion, emphasis of the imagination, and revolt against social norms.</p>
      </div>

    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Monet_-_Impression%2C_Sunrise.jpg/400px-Monet_-_Impression%2C_Sunrise.jpg)"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Impressionism</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu">1860 - 1880</h1>
        <p>Known for works that capture the effects of light on objects, using pure color and visible brushstrokes.</p>
      </div>
    </div>
  </section>
