  body {
    font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
  }

  #timeline-p1 {
    display: flex;
    background-color: #031625;
  }
  #timeline-p1:hover .tl-item {
    width: 23.3333%;
  }

  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  }
  .tl-item:before, .tl-item:after {
    transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .tl-item:hover {
    width: 30% !important;
  }
  .tl-item:hover:after {
    opacity: 0;
  }
  .tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
  }
  .tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }
  .tl-item:hover .tl-bg {
    filter: grayscale(0);
  }

  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.2em;
    top: 35%;
    opacity: 0;
  }

  .tl-content h1 {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .tl-content p {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.5;
  }

  .tl-year {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 2px solid #fff;
    border-bottom: 5px solid #fff;
  }
  .tl-year p {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 1;
  }

  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: 0em;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.photo-main img {
  position: absolute;
  left: -3.5em;
  top: 2em;
  max-width: 110%;
  filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

  /* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0;
}

.title h1 {
  position: fixed;
  left: 400;
  top: -10;
  margin-bottom: 0.1em;
  color: #4c4c4c;
  font-size: 3em;
  font-weight: 900;
}
.title span {
  position: fixed;
  left: 400;
  top: 100;
  font-size: 1.2em;
  color: #a6a6a6;
}

.description {
  position: fixed;
  left: 400;
  top: 100;
  clear: left;
  margin: 2em 30 0 0;
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 1.3;
}
.description h3 {
  position: fixed;
  left: 400;
  top: 290;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #4c4c4c;
}
.description ul {
  font-size: 1em;
  list-style: disc;
  margin-left: 1em;
}

.description li {
  font-size: 1em;
  position: relative;
  left: 0;
  top: 0;
  text-indent: -0.3em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.description li li {
  font-size: 0.9em;
  position: relative;
  left: -30;
  top: 0;
  text-indent: -0.3em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.list {
  position: fixed;
  left: 375;
  top: 350;
  width: auto;
  height: auto;
}
