
<section id="funfacts-p8">


    <head>
      <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    </head>

    <body>
      <div class="wrapper">
        <div class="masterpiece">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Edvard_Munch%2C_1893%2C_The_Scream%2C_oil%2C_tempera_and_pastel_on_cardboard%2C_91_x_73_cm%2C_National_Gallery_of_Norway.jpg/619px-Edvard_Munch%2C_1893%2C_The_Scream%2C_oil%2C_tempera_and_pastel_on_cardboard%2C_91_x_73_cm%2C_National_Gallery_of_Norway.jpg" style="height:100%">
        </div>

        <p style="font-size:2.5vh"><br>The Scream</p>
        <p1 style="font-size:2vh">Edvard Munch<br>1893<br><br></p1>

     <div class="label" #label>
      <app-Quiz-button [appQuizPopup]="Quiz" [label]="label"></app-Quiz-button>
     </div>

    <ng-template #Quiz>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>1. What is this painting represent for?</h1>
          </div>
          <div class="description">
            <p>According to Munch himself, The Scream was a picture he painted to represent his soul. Rather than adhering to the art style of the time — that is, painting pictures meticulously to realistically represent the subjects in them — he chose to use an unrealistic style to paint his emotions, rather than focus on realism and perfectionism in his art. Munch explained that he painted a moment of existential crisis. He was walking down a road similar to the one in the painting, while the sun was setting, creating a beautiful, vibrant background. His friends were walking with him, but, looking out at the sky in front of them, he stopped, while they continued walking. He then described having what we would now consider to be a panic attack; he suddenly became tired, anxious, claustrophobic, and the weight of nature and of the world hit him all at once.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    <ng-template #Quiz2>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>2. How could David defeat the giant?</h1>
          </div>
          <div class="description">
            <p>Although it seemed that Goliath was taller and more robust, this was also the reason for his failure. For shepherds who were good at using slingshots, it was easy to aim at the target. Goliath didn't pay attention to this thin boy at all, but David moved fast and had wisdom. As a result, Goliath's vast and robust body harmed himself because of his poor reaction and made David's weaknesses an advantage.    </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    <ng-template #Quiz3>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>3. Why did Caravaggio painted this picture so dark?</h1>
          </div>
          <div class="description">
            <p>The dark background can set off the characters and make the theme more obvious. Caravaggio often used such backdrops, landscapes or other props to focus on several key elements. In this way, the characters in the paintings are easier to be focused on and more dramatic.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>


    <ng-template #Quiz4>
      <app-Quiz>
        <div class="product__Quiz">
          <div class="title">
            <h1>4. Why does Goliath's head seem to roll out of the painting?</h1>
          </div>
          <div class="description">
            <p>David held his head and stretched it towards us. The black background contrasted with the bright shape, producing a three-dimensional visual effect. The sense of light in Caravaggio's painting is like a projector. The brilliant part became like a sculpture as if about to run out of it. This technique makes this scene more charming and makes the viewers have a kind of illusion as if they can reach out their hands to touch the characters in the painting.
            </p>
          </div>
        </div>
      </app-Quiz>
    </ng-template>

    </div>
    </body>



</section>
