<!-- Top header -->
<header class="w3-wide">
    <h1 style="font-size:4vw">Choose a story about the masterpiece</h1>
  </header>

  <!-- Sidebar/menu -->
  <section>
    <nav>
      <ul>
        <li><p style="font-size:1.2vw">Vincent van Gogh<br>Bedroom in Arles<br>1889</p></li>
        <li><button onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button" style="font-size:1.2vw">a. Are all his own paintings on the walls?</button></li>
        <li><button onclick="document.getElementById('id02').style.display='block'" class="w3-bar-item w3-button" style="font-size:1.2vw">b. Why are there pairs of furniture? <br>Such as chairs and pillows.</button></li>
        <li><button onclick="document.getElementById('id03').style.display='block'" class="w3-bar-item w3-button" style="font-size:1.2vw">c. Does the wall seem crooked?</button></li>
        <li><button onclick="document.getElementById('id04').style.display='block'" class="w3-bar-item w3-button" style="font-size:1.2vw">d. The room looks neat and seems a bit empty?</button></li>

      </ul>
     </nav>

  <!-- a -->
  <div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h5 class="w3-wide">a. Are all his own paintings on the walls?</h5>
      <p>Yes, the paintings......<br>.....................</p>
      <div class="w3-row">
        <div class="w3">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-black">OK</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- b -->
  <div id="id02" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h5 class="w3-wide">b. Why are there pairs of furniture? Such as chairs and pillows.</h5>
      <p>This is because......<br>............</p>
      <div class="w3-row">
        <div class="w3">
          <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-button w3-block w3-black">OK</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- c -->
  <div id="id03" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h5 class="w3-wide">c. Does the wall seem crooked?</h5>
      <p>The wall is indeed crooked......<br>...........</p>
      <div class="w3-row">
        <div class="w3">
          <button onclick="document.getElementById('id03').style.display='none'" type="button" class="w3-button w3-block w3-black">OK</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- d -->
  <div id="id04" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h5 class="w3-wide">d. The room looks neat and seems a bit empty?</h5>
      <p>This is because......<br>............</p>
      <div class="w3-row">
        <div class="w3">
          <button onclick="document.getElementById('id04').style.display='none'" type="button" class="w3-button w3-block w3-black">OK</button>
        </div>
        </div>
      </div>
    </div>
  </div>


  <!-- !PAGE CONTENT! -->
  <article>
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Vincent_van_Gogh_-_Van_Gogh%27s_Bedroom_in_Arles_-_Google_Art_Project.jpg" alt="Vincent van Gogh - Van Gogh's Bedroom in Arles - Google Art Project.jpg" style="width:100%;">
    </article>
  </section>

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:123px"></div>