
<section id="funfacts-p1">

<div id="hexcontainer">
  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl1" href="#funfacts/2">
        <div class="hexcover"></div>
        <h3>Renaissance</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>
  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl2" href="#funfacts/3">
        <div class="hexcover"></div>
        <h3>Baroque</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>
  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl3" href="#funfacts/4">
        <div class="hexcover"></div>
        <h3>Romanticism</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>

  <br />

  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl4" href="#funfacts/5">
        <div class="hexcover"></div>
        <h3>Impressionism</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>
  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl5" href="#funfacts/6">
        <div class="hexcover"></div>
        <h3>Post-Impressionism</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>
  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl6" href="#funfacts/7">
        <div class="hexcover"></div>
        <h3>Fauvism</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>
  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl7" href="#funfacts/8">
        <div class="hexcover"></div>
        <h3>Expressionism</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>

  <br />

  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl8" href="#funfacts/9">
        <div class="hexcover"></div>
        <h3>Cubism</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>
  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl9" href="#funfacts/10">
        <div class="hexcover"></div>
        <h3>Dadaism and Surrealism</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>
  <div class="hex1">
    <div class="hex2">
      <a class="hexlink" id="hl10" href="#funfacts/11">
        <div class="hexcover"></div>
        <h3>Abstract Expressionism</h3>
        <div class="plus"></div>
      </a>
    </div>
  </div>
</div>

</section>
